.news-backdrop {
    position: absolute;
    top: 250px;
    left: 70%;
    width: 24%;
    height: 75%;
    background-image: url('assets/news-backdrop.png');
    background-size: cover;
}

.news-window {
    list-style-type: none;
    position: absolute;
    top: 40px;
    left: 25px;
    width: 250px;
    max-height:320px;
    background-color: transparent;
    border-radius: 5px;
    overflow: auto;
}
.news-block {
    border-bottom: dashed 1px;
    width: 220px;
    position: relative;
    left: -35px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
}
.ellipsis {
    overflow: hidden;  
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
.news-list {
    list-style-type:none;
    display: block;    
}
.news-body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
    text-align: left;
    display:block;  
    max-width:240px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.news-author {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
    padding-bottom: 2px;
    padding-left: 4px;
}

.news-actions {
    font-family: 'Times New Roman', Times, serif;
    text-align:end;
    padding-right: 4px;
}
